@include tablet {
    .seccion-nosotros {
        @include grid(2, 2rem)

        
    
    }
}

.texto-nosotros {
    margin-top: 3rem;

    h3 {
        margin-top: .5rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        text-align: left;
        font-weight: $black;

    }

    p{
        font-size:1.5rem;
    }

}
